* {
    box-sizing: border-box;
}

body, .draw-area, .toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 20px;
}

.tool {
    margin-top: 40px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    font-size: 18px;
}

.toolbar {
    padding-top: 40px;
}

.tool:hover {
    background-color: gray;
    color: white;
}

.active {
    background-color: black;
    color: white;
}

.super-container {
    display: flex;
    gap: 100px;
}

.container {
    border: 2px solid black;
    margin-top: 20px;
    height: 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
}

.row, .grid {
    display: flex;
    flex: 1;
}

.gridlines {
    border: 1px solid #ccc;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

input[type="range"] {
    writing-mode: vertical-lr;
    height: 500px;
    margin-top: 12px;
}

.slider {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-top: 100px;
}