body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#size {
    margin-top: 40px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    font-size: 16px;
}

#size:hover {
    background-color: aliceblue;
}

.container {
    border: 2px solid black;
    margin-top: 40px;
    height: 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
}

.row, .grid {
    display: flex;
    flex: 1;
}

.grid {
    border: 1px solid #ccc;
}