@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

body, .draw-area, .toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: whitesmoke;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    margin-top: 30px;
    font-size: 36px;
}

.tool {
    margin-top: 35px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    font-size: 26px;
}

.toolbar {
    padding-top: 105px;
}

.tool:hover {
    background-color: gray;
    color: white;
}

.active {
    background-color: black;
    color: white;
}

.super-container {
    display: flex;
    gap: 100px;
}

.container {
    background-color: white;
    border: 5px inset;
    margin-top: 10px;
    height: 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
}

.row, .grid {
    display: flex;
    flex: 1;
}

.gridlines {
    border: 1px solid #ccc;
}

input[type="range"] {
    writing-mode: vertical-lr;
    height: 520px;
    margin-top: 12px;
}

.slider {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    margin-top: 100px;
}

input[type="color"] {
    appearance: none;
    height: 40px;
    width: 40px;
    border: none; 
    border-radius: 50%; 
    outline: none; 
    cursor: pointer; 
    padding: 0;
    margin: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}